body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
}

form {
  position: relative;
  width: 100%;
}

input {
  padding: 10px 35px 10px 5px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 458px;
}

.container {
  display: flex;
  height: 10px;
  width: 100%;
  margin: 8px auto;
}

.container-item {
  margin: 0 1px;
  width: 33%;
  align-items: center;
  border: none;
  justify-content: space-around;
}

.shown-password {
  top: 9px;
  right: 10px;
  position: absolute;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.password-icon {
  width: 20px;
  height: 20px;
}
